.nav.nav-tabs{
    width: 100%;
    /* border: 3px solid #5d576b; */
    background-color: #edaea6;
    opacity: 70%;
    padding: 10px;
    box-shadow: 5px 10px 20px #5d576b inset;
}
a.nav-link.active {
    background-color: #e3f4bc !important;
    color: #5d576b !important;
    border-radius: 5px !important;
    border: 2px solid #5d576b !important;
}

#smile-wink {
    color: #5d576b;
}

#comment {
    color: #5d576b; 
}

#plus {
    color: #5d576b;
}