.nav.nav-tabs{
    width: 100%;
    border: 3px solid #5d576b;
    background-color: #5d576b;
    box-shadow: 1px 1px #e3f4bc;
    opacity: 70%;
   
}
.nav-item.active {
    background-color: #e3f4bc;
}

#smile-wink {
    color: #e6ebe0;
    width: 120%;
}

#comment {
    color: #e6ebe0;  
    width: 115%;
}

#plus {
    color: #e6ebe0;
}