.nav.nav-tabs{
    width: 100%;
    background-color: #5d576b;
}



#smile-wink {
    /* text-align: center; */
    color: #edaea6;
    /* opacity: 60%; */
    /* margin-left: auto;
    margin-right: auto;
    font-size: 20px; */
}

#comment {
    /* text-align: center; */
    color: #edaea6;
    /* opacity: 60%; */
    /* margin-left: auto;
    margin-right: auto;
    font-size: 20px; */
}

#plus {
    /* text-align: center; */
    color: #edaea6;
    /* opacity: 60%; */
    /* margin-left: auto;
    margin-right: auto;
    font-size: 20px; */
}