.main-body {
    width: 100%;
    height: 100%;
    background-color: #9bc0c1;
}

#browsBox {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#eyesBox {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#noseBox {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#lipsBox {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
}