#logoPic{
    width: 29%;
    margin-top: 5%;
}

#greeting {
    font-family: 'Dancing Script', cursive;
    color: #e6ebe0;
    font-size: 90px;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    text-shadow:
    0px 4px 3px #5d576b,
    0px 8px 13px #5d576b,
    0px 18px 23px #5d576b;
    margin-bottom: 15%;
}
#greeting2 {
    font-family: 'Dancing Script', cursive;
    color: #e6ebe0;
    font-size: 68px;
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
    text-shadow:
    0px 4px 3px #5d576b,
    0px 8px 13px #5d576b,
    0px 18px 23px #5d576b;
}

input {
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: #5d576b,
}

button {
    border-radius: 25px;
    background: transparent;
    padding-bottom: 7px;
}

.signbutt {
    width: 60%;
    background: #5d576b;
    color: #e6ebe0;
    outline: none;
    border: none;
}

#inbutt {
    margin-top: 7%;
    margin-bottom: 2%;
}

#newbutt {
    background: transparent;
    border: none;
    outline: none;
    width: auto;
}

#loginform {
    margin-top: 10%;
    color: #e6ebe0;
}

#signupform {
    margin-top: 20%;
}

#forgotpass {
    font-size: 16px;
}

#newhere {
color: #e6ebe0;
font-size: 16px;
}