.nav.nav-tabs{
    width: 100%;
}



#smile-wink {
    /* text-align: center; */
    color: #5d576b;
    /* opacity: 60%; */
    /* margin-left: auto;
    margin-right: auto;
    font-size: 20px; */
}

#comment {
    /* text-align: center; */
    color: #5d576b;
    /* opacity: 60%; */
    /* margin-left: auto;
    margin-right: auto;
    font-size: 20px; */
}

#plus {
    /* text-align: center; */
    color: #5d576b;
    /* opacity: 60%; */
    /* margin-left: auto;
    margin-right: auto;
    font-size: 20px; */
}