body {
    background-color: #9bc0c1;
    font-family:  'Dosis', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #e6ebe0;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.mainBody {
    width: 100%;
    height: 100%;
    background-color: #9bc0c1;
}

#foreheadCircle {
    text-align: center;
    color: #5d576b;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

#browsPic {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

#eyesPic {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#nosePic {
    position: relative;
    display: block;
    margin-left: 32%;
    margin-right: 32%;
    width: 36%;
}

#cheekCircle {
    color: #5d576b;
    height: 75px;
    float: right;
    font-size: 20px;
    margin-right: 25%;
    opacity: 60%;
}

#lipsPic {
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}
p{
    color: #e6ebe0;
}
.styles_modal__gNwvD {
    color: #e6ebe0;
    background:#5d576b;
    max-width: 500px;
    width: 100%;
    border-radius: 8px;
}
.styles_overlay__CLSq- {
    background: #9bc0c1; 
    opacity: 0.3;
}
.styles_closeButton__20ID4 {
    opacity: 0.3;
    color: #e6ebe0;  
}

